<app-hotel-header (isShowSidebar)="sidenav.toggle($event)" [isMenuOpened]="isShowSidebar"></app-hotel-header>

<mat-sidenav-container class="layout">
  <mat-sidenav #sidenav mode="side" [(opened)]="isShowSidebar" class="layout-sidebar"
    [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches">

    <app-hotel-sidebar></app-hotel-sidebar>
  </mat-sidenav>

  <mat-sidenav-content class="layout-content">
    <!-- <ng-content></ng-content> -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
