<mat-toolbar class="page-header" role="heading">
    <h1>Show Tables</h1>
    <!-- <button mat-flat-button>
        <span><mat-icon>add</mat-icon></span> Add New Menu
      </button> -->


</mat-toolbar>

<mat-card-content class="typography-content">
    <div class="typography-content__wrapper">

        <mat-card class="typography-content__item-wrapper">

            <div class="row">
                <div class="col-md-12">
                    <ul class="list">
                        <li>
                            <a routerLink="fromEvent">1</a>
                        </li>
                        <li>
                            <a routerLink="interval">2</a>
                        </li>
                        <li>
                            <a routerLink="of-from">3</a>
                        </li>
                        <li>
                            <a routerLink="to-array">4</a>
                        </li>
                        <li>
                            <a routerLink="custom-observable">5</a>
                        </li>
                        <li>
                            <a routerLink="map">6</a>
                        </li>
                        <li>
                            <a routerLink="pluck">7</a>
                        </li>
                        <li>
                            <a routerLink="filter">8</a>
                        </li>
                        <li>
                            <a routerLink="tap">9</a>
                        </li>
                        <li>
                            <a routerLink="take">10</a>
                        </li>
                        <li>
                            <a routerLink="retry">11</a>
                        </li>
                        <li>
                            <a routerLink="debouncetime">12</a>
                        </li>
                        <li>
                            <a routerLink="subject">13</a>
                        </li>
                        <li>
                            <a routerLink="replay-subject">14</a>
                        </li>
                        <li>
                            <a routerLink="async-subject">15</a>
                        </li>
                        <li>
                            <a routerLink="concat">16</a>
                        </li>
                        <li>
                            <a routerLink="merge">17</a>
                        </li>
                        <li>
                            <a routerLink="mergemap">18</a>
                        </li>
                        <li>
                            <a routerLink="concatmap">19</a>
                        </li>
                        <li>
                            <a routerLink="concatmap-mobile-notification-example">20</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- </mat-tab> -->
        </mat-card>
    </div>
</mat-card-content>