<mat-list>
    <mat-list-item routerLinkActive="active" routerLink="/hotel/dashboard">
        <mat-icon>home</mat-icon> Hotel Dashboard
    </mat-list-item>


    <mat-list-item routerLinkActive="active">
        <mat-icon>text_fields</mat-icon> Typography
    </mat-list-item>
    <mat-list-item routerLinkActive="active">
        <mat-icon>border_all</mat-icon> Tables
    </mat-list-item>
    <mat-list-item routerLinkActive="active">
        <mat-icon>notifications_none</mat-icon> Notification
    </mat-list-item>
    <mat-list-item>
        <mat-icon>filter_none</mat-icon> UI Elements
    </mat-list-item>
    <div>
        <mat-list-item class="ui-element" routerLinkActive="active">
            <div class="circle"></div>Icons
        </mat-list-item>
        <mat-list-item class="ui-element" routerLinkActive="active">
            <div class="circle"></div>Charts
        </mat-list-item>
        <mat-list-item class="ui-element" routerLinkActive="active">
            <div class="circle"></div>Map
        </mat-list-item>
    </div>


    <!-- <mat-list-item routerLink="{{routes.TYPOGRAPHY}}" routerLinkActive="active">
        <mat-icon>text_fields</mat-icon> Typography
    </mat-list-item>
    <mat-list-item routerLink="{{routes.TABLES}}" routerLinkActive="active">
        <mat-icon>border_all</mat-icon> Tables
    </mat-list-item>
    <mat-list-item routerLink="{{routes.NOTIFICATION}}" routerLinkActive="active">
        <mat-icon>notifications_none</mat-icon> Notification
    </mat-list-item>
    <mat-list-item (click)="openUiElements()">
        <mat-icon>filter_none</mat-icon> UI Elements
    </mat-list-item>
    <div>
        <mat-list-item class="ui-element" routerLink="{{routes.UI_ELEMENTS_ICONS}}" routerLinkActive="active">
            <div class="circle"></div>Icons
        </mat-list-item>
        <mat-list-item class="ui-element" routerLink="{{routes.UI_ELEMENTS_CHARTS}}" routerLinkActive="active">
            <div class="circle"></div>Charts
        </mat-list-item>
        <mat-list-item class="ui-element" routerLink="{{routes.UI_ELEMENTS_MAP}}" routerLinkActive="active">
            <div class="circle"></div>Map
        </mat-list-item>
    </div> -->
</mat-list>

<!---->
<mat-list>
    <mat-list-item routerLink="/table" routerLinkActive="active">
        <mat-icon>border_all</mat-icon> Show Tables
    </mat-list-item>
    <mat-list-item routerLink="/hotel/order" routerLinkActive="active">
        <mat-icon>list_alt</mat-icon> Add Order
    </mat-list-item>

    <mat-list-item routerLink="/bill" routerLinkActive="active">
        <mat-icon>money</mat-icon> Make Bill
    </mat-list-item>
    <mat-list-item routerLinkActive="active">
        <mat-icon>engineering</mat-icon> Resources
    </mat-list-item>


    <mat-list-item routerLinkActive="active">
        <mat-icon>home</mat-icon> Dashboard2
    </mat-list-item>
    <mat-list-item routerLink="/menu" routerLinkActive="active">
        <mat-icon>restaurant_menu</mat-icon> Menu
    </mat-list-item>

    <!-- <mat-list-item routerLink="{{routes.BILL}}" routerLinkActive="active">
        <mat-icon>money</mat-icon> Make Bill
    </mat-list-item>
    <mat-list-item routerLink="{{routes.RESOURCE}}" routerLinkActive="active">
        <mat-icon>engineering</mat-icon> Resources
    </mat-list-item>


    <mat-list-item routerLink="{{routes.DASHBOARD2}}" routerLinkActive="active">
        <mat-icon>home</mat-icon> Dashboard2
    </mat-list-item>
    <mat-list-item routerLink="{{routes.MENU}}" routerLinkActive="active">
        <mat-icon>restaurant_menu</mat-icon> Menu
    </mat-list-item> -->


</mat-list>